body, h1, p, input, button, a { 
	margin: 2px;
	padding: 0;
}
body h1 {
	font-family: sans-serif;
	font-size: 16px;
	color: #a8a8a6;
	font-weight: normal;
}

form {
	border-radius: 5px;
	border: 9px solid #6bc2de;
	margin: 20px  auto;
	width: 240px;
	
}

input {
	border-radius: 5px;
	width: 227px;
}


button {
	background-image: url("../images/icon.jpg");
	background-repeat: no-repeat;
	background-position: 10% center;
	background-color: #6bc2de;
	color: #fff;
	width: 100px;
	height: 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

a, a:hover, a:visited {
	color: #6bc2de;
}
